@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Raleway:wght@200&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Raleway:wght@200&family=Share+Tech&family=Ubuntu:wght@300&display=swap');

/* COLORS */
/* 
#352F44
#5C5470
#B9B4C7
#FAF0E6
*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #B9B4C7;
}


.conteiner {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 100px;
    background-color: #352F44;
}

.brand h1 {
    margin-left: 10px; 
    font-family: 'Josefin Sans', sans-serif;
    font-size: 45px;
    font-style: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
}


li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    max-height: 80px; 
    border-radius: 12px;
    justify-content: center;
    display: flex;
}